<h3 class="text-light my-2">Details {{user.login}}!</h3>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="{{user.avatar_url}}" class="img-fluid">
            </div>
            <div class="col-8">
                <h4>
                    {{user.name}}
                    <div class="small text-black-50">{{user.login}}</div>
                </h4>

                <div>
                    {{user.email}}
                </div>
                <div>
                    {{user.html_url}}
                </div>
                <div>
                    {{user.created_at | date}}
                </div>
            </div>
        </div>

        <table class="table my-2">
            <tbody>
            <tr *ngFor="let repo of repos">
                <td>{{repo.id}}</td>
                <td>{{repo.full_name}}</td>
                <td><a href="{{repo.url}}" class="btn btn-link" target="_blank">{{repo.url}}</a> </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" href="/"> Back</a>
    </div>
</div>
